<div class="panel panel-default">
    <div class="panel-heading">Users list</div>

    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Lastname</th>
            <th>Email address</th>
            <th>Organisation</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in UserCtrl.users">
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.organisation.name}}</td>
            <td>Active</td>
            <td>
                <a ui-sref="app.user.edit({userId:user.id})" title="Edit user details">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

